
// imports

@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


// vars

$green: #688F4E;
$font : 'Poppins';
$light-green: #B1D182;


// containers

.container{
    padding: 1px 115px 0px 115px;
}

.container.section{
    
    background: #fff;
    box-shadow: -50px 50px 200px #F2F2F2;
    border-radius: 5px;
    height: 962px;
}

// nav bar

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &__item{
        
        .links{
            margin-right: 30px;
            text-decoration: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: black;

            &:hover{
                font-size: 19px;
                transition: .3s all ease;
                color: #2B463C;
            }
            
            &.signup{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                text-transform: capitalize;
                color: #FFFFFF;
                border-radius: 5px;
                padding: 9px 35px 12px;
                background: #688F4E;
                border: 2px solid #688F4E;

                
                &:hover{
                    color: #688F4E;
                    background-color: #FFFFFF;
                    transition: .3s all ease;
                }
            }

            &.login{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                text-transform: capitalize;

                color: #2B463C;
                padding: 9px 45px 12px;
                border: 2px solid #688F4E;

                box-sizing: border-box;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border-radius: 5px;

                &:hover{
                    background-color: #2B463C;
                    color: #fff;
                    border: 2px solid #2B463C;
                    transition: .3s all ease;
                    
                    
                }
            }
            
        }
        
    }

}

// main screen

.sign_in{
    padding: 1px 150px 0px 130px;
    &__policy{
        width: 300px;
        margin-left: 650px;
        display: block;
        padding-top: 64px;
        text-decoration: none;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        
        letter-spacing: 0.2em;

        color: #1B262C;
    }
    &__items{
        padding-top: 50px;
        display: flex;
        &-item-1{
            padding: 45px 211px 50px 161px;
            &-title{
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 54px;
                
                letter-spacing: 0.2em;

                color: #1B262C;

            }
            &-suptitle{
                margin-bottom: 63px;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                
                letter-spacing: 0.2em;

                color: rgba(27, 38, 44, 0.55);


                &-link{
                    text-decoration: none;
                    color: $green;
                }
            }
            &-form{
                &-label{
                    margin-top: 24px;
                    margin-bottom: 14px;
                    
                    font-family: $font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    

                    color: #696F79;


                }
                &-link{
                    display: block;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    
                    padding-left: 300px;
                    text-decoration: none;
                    margin-top: 19px;
                    color: rgba(43, 70, 60, 0.77);
                }
                &-input{
                    border: 1px solid #696F79;
                    box-sizing: border-box;
                    border-radius: 6px;
                    width: 426px;
                    padding: 20px 30px;
                    font-family: $font;
                }
                &-checkbox{
                    margin-bottom: 21px;
                    display: flex;
                    &-box{
                        margin-right: 14px;

                    }
                    &-text{
                        
                        font-family: $font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        
                        
                        
                        color: #696F79;
                    }
                }
                
                &-btn{
                    background: $green;
                    border: 2px solid $green;
                    border-radius: 6px;
                    font-family: $font;
                    padding: 19px 184px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;

                    color: #FFFFFF;
                    &:hover{
                        color: $green;
                        background-color: #FFFFFF;
                        transition: .3s all ease;
                    }
            
                    
                }

            }
        }
        &-item-2{
            border-left: 2px solid $light-green;
            padding: 100px 205px 400px 162px;
            &-title{
                margin-bottom: 8px;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height */
                letter-spacing: 0.2em;

                color: #1B262C;

            }
            &-suptitle{
                margin-bottom: 48px;
                font-family: $font;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                /* identical to box height */

                
                letter-spacing: 0.2em;

                color: rgba(27, 38, 44, 0.7);


            }
            &-btn{
                background: $green;
                border-radius: 6px;
                font-family: $font;
                border: 2px solid $green; 
                padding: 19px 0;
                width: 426px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #FFFFFF;

                &:hover{
                    color:$green;
                    background-color: #FFFFFF;
                    transition: .3s all ease;
                
                }
            }
            
        }
    }
}
