
/* Global styling */

body, html{
    margin: 0;
    padding: 0;
}



/* Intro */

.header{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

.nav a{
    margin-top: 5px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.nav{
    margin-right: 100px;
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.nav a+a{
    margin-left: 33px;
}

.logo{
    margin-left: 15px;
    flex-grow: 3;
    
}
.logo img{
    transform: scale(1.2);
}

.intro {
    
    padding-top: 25px;
    margin: inherit;
    background: url("images/2.jpg") no-repeat;
    width: 100%;
    height: 744px;
    margin-bottom: 100px;
}

/* Join block */

.join__block__title{
    font-size: 45px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.join__block__text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 25px;
}

.join__block__button a{
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.join__block{
    position: absolute;
    left: 1075px;
    top: 300px;
   
    right: 1;
    z-index: 1;
}

/* Description  */

.description__colors{
    display: flex;
    margin-bottom: 100px;
}

.colors{
    height: 33px;
    width: 33px;
    display: inline-block;
    font-size: 0;
}

.description{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.colors.orange {
    background-color: #ee732f;
}
.colors.red{
    background-color: #f74c55;
}
.colors.black{
    background-color: #404040;
}
.colors.green{
    background-color: #2d5f3b;
}
.colors.pink{
    background-color: #fb636b;
}

.description__title{
    font-weight: 300;
    font-size: 33px;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
}

.description__text{
    margin-bottom: 60px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 15px;
}

/* Features */

.features{
    display: flex;
    justify-content: center;
}

.features__item{
    padding: 30px 48px 60px 48px;
    position: relative;
    width: 100%;
}

.features__item.black{
    padding-left: 200px;
    background-color: #404040; 
}
.features__item.green{
    padding-right: 200px;
    background-color: #2d5f3b;
}

.features__item.red{
    background-color: #f74c55;
}

.features__item__title{
    padding-left: 50px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.features__item__text{
    line-height: 11px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.features__item__icon img{
    position: absolute;
}

.features__item__button img{
    position: absolute;
    padding: 8px;
}

.features__item.green .features__item__button img{
    left: 370px;
    background-color: #1c3d25;
}

.features__item.red .features__item__button img{
    left: 370px;
    background-color: #c53840;
}

.features__item.black .features__item__button img{
    left: 500px;
    background-color: #272727;
}

/* Viewmore */

.viewmore{
    background: url("images/7.jpg") center no-repeat;
    height: 762px;
    position: relative;
    text-align: center;
}

.container{
    padding-top: 183px;
    padding-bottom: 133px;
}

.viewmore__text{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    margin-bottom: 46px;
    font-weight: 300;
}

/* Footer */

.footer{
    height:40px;
    padding-top:30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.sans__bold{
    font-weight: 700;
}