.container__items {
  display: flex;
  gap: 20px;
}

.container {
  max-width: 70%;
  margin: 100px auto;
}

.item__subtitle,
.item__text {
  flex: 1 1 0;
}

.item__title {
  font-size: 96px;
  font-weight: 700;
}

.item__subtitle p {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.5;
}

.item__text {
  background-color: #f2f2f2;

  padding: 10px 30px 10px 30px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}

hr {
  margin: 20px 0 30px 0;
  background-color: #f4704a;
  border: none;
  height: 5px;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
  .container__items {
    flex-direction: column;
  }
  .item__title {
    font-size: 70px;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 90%;
  }
}
